/* Mainpage */
h1 {
    font-size: 36px;
    margin-bottom: 150px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #007bff;
    color: #fff;
  }
  
  tbody tr:last-child td {
    border-bottom: 10;
  }
  